/* Accueil */

#Accueil {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#Accueil section {
    display: flex;
    flex-direction: row;
}

#Accueil article {
    flex: 1;
    display: flex;
    flex-direction: column;
    min-height: min-content;
}

#Accueil article:nth-child(1) {
    display: flex;
    justify-content: center;
    padding-left: 5em;
}

#Accueil article:nth-child(2) {
    display: flex;
}

#Accueil article:nth-child(2) > div {
    position: relative;
    top: 10vh;
    left: 5vw;
    width: 34em;
    height: 34em;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    box-shadow:  19px 19px 38px #181a1b, -19px -19px 38px #2a2e31;
}

#Accueil article:nth-child(2) div div {
    background: url(/res/img/accueil/photo\ cv\ lum\ flou\ rogne.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 30em;
    height: 30em;
    border-radius: 50%;
}

#Accueil section:last-child {
    position: relative;
    /* top: 10em; */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#fleche {
    justify-self: center;
    padding-left: 0;
}

.arrow-container {
    display: block;
    width: 100px;
    height: 100px;
    transform: translate(-50%, -50%) rotateZ(0deg);
}
.arrow-container:hover {
    cursor: pointer;
}
.arrow-container:hover .arrow {
    top: 50%;
}
.arrow-container:hover .arrow:before {
    transform: translate(-50%, -50%) rotateZ(-30deg);
}
.arrow-container:hover .arrow:after {
    transform: translate(-50%, -50%) rotateZ(30deg);
}

.arrow {
    position: absolute;
    left: 50%;
    transition: all 0.4s ease;
    border-radius: 10px;
}
.arrow:before, .arrow:after {
    transition: all 0.4s ease;
    content: "";
    display: block;
    position: absolute;
    transform-origin: bottom right;
    background: var(--accent-color);
    width: 4px;
    height: 50px;
    border-radius: 10px;
    transform: translate(-50%, -50%) rotateZ(-45deg);
}
.arrow:after {
    transform-origin: bottom left;
    transform: translate(-50%, -50%) rotateZ(45deg);
}
.arrow:nth-child(1) {
    opacity: 0.3;
    top: 35%;
}
.arrow:nth-child(2) {
    opacity: 0.6;
    top: 55%;
}
.arrow:nth-child(3) {
    opacity: 0.9;
    top: 75%;
}