#aPropos {
    flex-direction: column;
}

.contenuApropos {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 3em;
}

.contenuApropos > div > article {
    margin: 0.5em;
}

.contenuApropos p {
    margin-top: 0;
}

.contenuApropos h2 {
    color: var(--accent-color);
}

.contenuApropos > div {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.contenuApropos article:not(.sousArticle) {
    display: flex;
    width: 100%;
    flex-direction: column;
    padding: 0 1em 1em 1em;
    text-align: justify;
}

.alternance {
    border-radius: 10px;
    background: var(--backgound, #212426);
    box-shadow: 5px 5px 13px 0px rgba(19, 21, 22, 0.90), -5px -5px 10px 0px rgba(47, 51, 54, 0.90), 5px -5px 10px 0px rgba(19, 21, 22, 0.20), -5px 5px 10px 0px rgba(19, 21, 22, 0.20), -1px -1px 2px 0px rgba(19, 21, 22, 0.50) inset, 1px 1px 2px 0px rgba(47, 51, 54, 0.30) inset;
}

.contenuApropos article i {
    font-size: 0.7em;
}

.contenuApropos article > div h3, .contenuApropos article h2{
    text-align: center;
}

.conteneurDeSousArticle {
    height: 100%;
    display: flex;
    justify-content: space-around;
}

.conteneurDeSousArticleVertical {
    flex-direction: column;
    justify-content: center;
}

.conteneurDeSousArticleVertical .sousArticle:nth-child(1) {
    margin-bottom: 1em;
}

.conteneurDeSousArticle:not(.conteneurDeSousArticleVertical) .sousArticle:nth-child(1) {
    margin-right: 1em;
}

.sousArticle {
    width: 50%;
    text-align: justify;

    border-radius: 10px;
    background: var(--backgound, #212426);
    box-shadow: 5px 5px 13px 0px rgba(19, 21, 22, 0.90) inset, -5px -5px 10px 0px rgba(47, 51, 54, 0.90) inset, 5px -5px 10px 0px rgba(19, 21, 22, 0.20) inset, -5px 5px 10px 0px rgba(19, 21, 22, 0.20) inset, -1px -1px 2px 0px rgba(19, 21, 22, 0.50), 1px 1px 2px 0px rgba(47, 51, 54, 0.30);
}

.conteneurDeSousArticleVertical .sousArticle {
    width: 100%;
}

.conteneurDeSousArticle > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.conteneurDeSousArticle img {
    width: 16em;
    margin-left: 1em;
    object-fit: cover;
    align-self: center;
    border-radius: 10px;
}

.sousArticle div {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

    padding: 1em 1em 2em 1em;
}

.sousArticle div p {
    text-align: justify;
}

.grosseImage, .petiteImage {
    width: 40% !important;
}