#Compétences {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.contenuCompetence {
    display: flex;
    justify-content: space-around;
    padding-right: 3em;
    margin-bottom: 2em;
}

.contenuCompetence > div {
    width: 48%;
    text-align: center;
    border: solid var(--accent-color) 2px;
    border-radius: 20px;
    overflow: hidden;
}

.contenuCompetence > div img {
    height: 5em;
    width: 5em;
    object-fit: contain;
    margin: 1em;
    filter: grayscale(50%);
    transition: all ease 1s;
    padding: 0.5em;
}

.imageNulles {
    background-color: white;
    border-radius: 10px;
}

.contenuCompetence > div img:hover {
    filter: none;
    transform: scale(1.2);
}