#Projets {
    flex-direction: column;
}

#Projets h1 {
    display: flex;
    align-items: center;
}

#Projets > div {
    display: flex;
    flex-direction: row;
    padding-right: 3em;
}

#Projets p {
    margin: 0
}

#Projets article h2, #Projets article h3 {
    margin-top: 0;
}

#Projets article h2 i {
    font-size: 0.8em;
}

#Projets h2 p {
    font-size: 0.8em;
}

#Projets article {
    padding: 0 1em 1em 1em;
}

#Projets .info {
    box-shadow: 5px 5px 13px 0px rgba(19, 21, 22, 0.90) inset, -5px -5px 10px 0px rgba(47, 51, 54, 0.90) inset, 5px -5px 10px 0px rgba(19, 21, 22, 0.20) inset, -5px 5px 10px 0px rgba(19, 21, 22, 0.20) inset, -1px -1px 2px 0px rgba(19, 21, 22, 0.50), 1px 1px 2px 0px rgba(47, 51, 54, 0.30);
}

#Projets article {
    display: flex;
    justify-content: space-between;
}

#Projets article > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 1;
    width: 60%;
}

#Projets img {
    width: 40%;
    border-radius: 5px;
    object-fit: contain;

    box-shadow: 5px 5px 13px 0px rgba(19, 21, 22, 0.90) inset, -5px -5px 10px 0px rgba(47, 51, 54, 0.90) inset, 5px -5px 10px 0px rgba(19, 21, 22, 0.20) inset, -5px 5px 10px 0px rgba(19, 21, 22, 0.20) inset, -1px -1px 2px 0px rgba(19, 21, 22, 0.50), 1px 1px 2px 0px rgba(47, 51, 54, 0.30);
    padding: 1em;
}

.infoComplementaire {
    color: var(--fg-darker-color);
}

.contenuBut {
    margin-top: 1.5em;
    padding: 1em;
    display: flex;
    flex-direction: column;
    align-self: center;
    max-width: 60%;

    border-radius: 10px;
    background: var(--backgound, #212426);
    box-shadow: 5px 5px 13px 0px rgba(19, 21, 22, 0.90), -5px -5px 10px 0px rgba(47, 51, 54, 0.90), 5px -5px 10px 0px rgba(19, 21, 22, 0.20), -5px 5px 10px 0px rgba(19, 21, 22, 0.20), -1px -1px 2px 0px rgba(19, 21, 22, 0.50) inset, 1px 1px 2px 0px rgba(47, 51, 54, 0.30) inset;
}

.contenuBut p {
    padding-left: 0.5em;
}

.contenuBut h3 {
    margin: 0.5em 0 0.5em 0 !important;
}

.technos {
    font-size: 1.2em;
}

.technos a {
    text-decoration: none;
}

/* Timeline */

/* Timeline Container */
.timeline {
    width: 100%;
    padding: 20px;
}

/* Card container */
.card {
    position: relative;
}

/* setting padding based on even or odd */
.card:nth-child(odd) {
    padding: 30px 0 30px 30px;
}
.card:nth-child(even) {
    padding: 30px 30px 30px 0;
}
/* Global ::before */
.card::before {
    content: "";
    position: absolute;
    width: 50%;
    border: solid var(--accent-color);
}

/* Setting the border of top, bottom, left */
.card:nth-child(odd)::before {
    left: 0px;
    top: -4.5px;
    bottom: -4.5px;
    border-width: 5px 0 5px 5px;
    border-radius: 50px 0 0 50px;
}

/* Setting the border of top, bottom, right */
.card:nth-child(even)::before {
    right: 0;
    top: 0;
    bottom: 0;
    border-width: 5px 5px 5px 0;
    border-radius: 0 50px 50px 0;
}

/* Removing the border if it is the first card */
.card:first-child::before {
    border-top: 0;
    border-top-left-radius: 0;
}

/* Removing the border if it is the last card  and it's odd */
.card:last-child:nth-child(odd)::before {
    border-bottom: 0;
    border-bottom-left-radius: 0;
}

/* Removing the border if it is the last card  and it's even */
.card:last-child:nth-child(even)::before {
    border-bottom: 0;
    border-bottom-right-radius: 0;
}

/* Information about the timeline */
.info {
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    padding: 10px;
}

/* Title of the card */
.title {
    color: var(--accent-color);
    position: relative;
}

/* Timeline dot  */
.title::before {
    content: "";
    position: absolute;
    width: 20px;
    height: 20px;
    background: var(--fg-color);
    border-radius: 999px;
    border: 3px solid var(--accent-color);
}

/* text right if the card is even  */
.card:nth-child(even) > .info > .title, .card:nth-child(even) > .info > article {
    text-align: right;
}

.contenuBut {
    text-align: left;
}

/* setting dot to the left if the card is odd */
.card:nth-child(odd) > .info > .title::before {
    left: -50px;
}

/* setting dot to the right if the card is odd */
.card:nth-child(even) > .info > .title::before {
    right: -50px;
}

.card:nth-child(even) > .info article {
    flex-direction: row-reverse;
}

.card:nth-child(odd) > .info p, .card:nth-child(even) > .info h2 {
    padding-right: 0.5em;
}

.card:nth-child(even) > .info p, .card:nth-child(odd) > .info h2 {
    padding-left: 0.5em;
}

/* Toggle dwitch */

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    margin-left: 1em;
}

.switch input { 
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--backgound-lighter);
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: var(--fg-darker-color);
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: var(--accent-color-darker);
}

input:focus + .slider {
    box-shadow: 0 0 1px var(--accent-color-darker);
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}