:root {
    --backgound: #212426;
    --backgound-lighter: #373839;
    --fg-color: #FFFFFE;
    --accent-color: #ffb900;
    --accent-color-darker: #ca9400;
    --fg-darker-color: #bebebe;
}

@font-face {
    font-family: "Muli";
    src: url("/police/muli/Muli-Light.ttf");
}

/* les grandes sections */

html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--backgound);
    color: var(--fg-color);
    font-family: "Muli", "Arial";
    margin: 0;
    
}

main {
    display: flex;
    flex-direction: column;
}

span {
    margin-left: 8em;
    
}

span > section {
    min-height: 100vh;
    padding: 0 0 0 2em;

    display: flex;
    flex-direction: row;
}

/* footer */

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 2em 2em 0;
    padding: 1em;

    border-radius: 10px;
    background: var(--backgound, #212426);
    box-shadow: 5px 5px 13px 0px rgba(19, 21, 22, 0.90), -5px -5px 10px 0px rgba(47, 51, 54, 0.90), 5px -5px 10px 0px rgba(19, 21, 22, 0.20), -5px 5px 10px 0px rgba(19, 21, 22, 0.20), -1px -1px 2px 0px rgba(19, 21, 22, 0.50) inset, 1px 1px 2px 0px rgba(47, 51, 54, 0.30) inset;
}

footer > div:nth-child(1) {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 40%;
    margin-bottom: 1em;
}

footer > div:nth-child(1) > div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer img {
    width: 5em;
    transition: all 0.5s ease;
}

.hide {
    opacity: 0;
    transition: all 0.5s ease;
}

footer > div:nth-child(1) > div:hover .hide {
    visibility: initial;
    opacity: 1;
    transform: skew(-2deg, 5deg) translateY(-10px);
}

footer > div:nth-child(1) > div:hover img {
    transform: skew(-2deg, 5deg);
}

/* le menu */

nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    
    position: fixed;
    top: 1em;
    bottom: 1em;
    left: 1em;

    margin: 0;
    height: 95vh;
    width: 5em;

    border-radius: 43px;
    background: var(--backgound, #212426);
    box-shadow: 9px 9px 23px 0px rgba(23, 25, 27, 0.90), -9px -9px 18px 0px rgba(43, 47, 49, 0.90), 9px -9px 18px 0px rgba(23, 25, 27, 0.20), -9px 9px 18px 0px rgba(23, 25, 27, 0.20), -1px -1px 2px 0px rgba(23, 25, 27, 0.50) inset, 1px 1px 2px 0px rgba(43, 47, 49, 0.30) inset;
}

nav a {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.4em;
    font-size: 1.5em;
    text-decoration: none;

    border-radius: 10px;
    /* background: var(--backgound, #212426); */
    box-shadow: 5px 5px 13px 0px rgba(19, 21, 22, 0.90), -5px -5px 10px 0px rgba(47, 51, 54, 0.90), 5px -5px 10px 0px rgba(19, 21, 22, 0.20), -5px 5px 10px 0px rgba(19, 21, 22, 0.20), -1px -1px 2px 0px rgba(19, 21, 22, 0.50) inset, 1px 1px 2px 0px rgba(47, 51, 54, 0.30) inset;
}

nav a:active {
    box-shadow: 5px 5px 13px 0px rgba(19, 21, 22, 0.90) inset, -5px -5px 10px 0px rgba(47, 51, 54, 0.90) inset, 5px -5px 10px 0px rgba(19, 21, 22, 0.20) inset, -5px 5px 10px 0px rgba(19, 21, 22, 0.20) inset, -1px -1px 2px 0px rgba(19, 21, 22, 0.50), 1px 1px 2px 0px rgba(47, 51, 54, 0.30);
    opacity: 0.5;
}

nav a:hover {
    filter: none;
}

/* les liens */

a {
    color: var(--accent-color);
    user-select: none;
}

a:hover {
    filter: brightness(115%);
}

a:visited {
    color: var(--accent-color-darker);
}

/* les titres */

h1 {
    color: var(--accent-color);
    font-size: 2em;
}

h2 {
    font-size: 1.2em;
}

h3 {
    font-size: 1em;
}
